body{
  margin:0px;
background-color: 	#e6e6fa;
color: 		#778899;
font-family: sans-serif;
font-size: 14px;
}
html{
  height: 574px;
}
.change{
  background-color: 	#dcdcdc;
  height: 60px;
  border-radius: 10px;
  width:250px;
}
.heroimg{
  width: 310px;
  height: 150px;
  position: relative;
  top:200px;
left : 450px;
padding-bottom: 320px;
background-color: white;
border-radius: 15px;
}
.inner{
    background-image: url(background.svg);
height: 437px;
position: relative;
bottom: 130px;

}
.text{
  position: relative;

width: 18%;
text-align: center;
margin: 0px auto;
bottom: 130px;
right: 40px;

}
.head{
  margin-bottom:  10px;
margin-top: 30px;
}
h2 {
  color: #191970;
}
h5{
  position: relative;
  top:13px;
  right: 45px;
  color: #191970;
  font-weight: 800;
}
.icomusic{
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 14px;
  margin-left: 13px;
}
.rs{
  position: relative;
  bottom:5px;
  right: 45px;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 9px;
  background: #0000cd;
  border-color: background;
  width: 240px;
  height: 40px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  left:5px;
  box-shadow: #0000cd;

}

.btn:hover {
  background: #6d75d1;
  text-decoration: none;
}
.cancel{
  color:#778899;
  margin-top: 10px;
  width: 240px;
  height: 40px;
  background-color: white;
  border-color: white;
  border-right-color: white;
    font-weight: bold;
}
.cancel:hover{
  color: black;
  font-weight: bold;
}
.chbtn{
  float:right;
  position: relative;
  bottom : 50px;
  right: 10px;
  color: #0000cd;
margin-bottom: 0px;

  border-color: inherit;
}
.chbtn:hover{
  color:  #6d75d1;
}
